/*background*/

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-info {
    background-color: var(--info-color);
}

.bg-light {
    background-color: var(--white-color);
}

.bg-transparent {
    background-color: transparent;
}

/*shape*/
.round {
    border-radius: 50%;
}

/*border*/
.border-0 {
    border: none;
}

.h-line {
    border: 0.7px solid #b9b4b436;
}